.container{
  display: flex; 
  flex-direction: column;
 height: 100vh; 
}
.header{
flex: 15%;
  background-color: light-gray;
}
.menu{
flex: 5%;
  background-color: white;
  color: black;
  display: flex;
}
.menu a{
  padding: 15px 20px;
  
}
.menu hover{
  background-color: black;
  color: white;
}
.content{
  flex: 70%;
  background-color:black;
}
}
footer{
 flex: 10%;
  background-color:black;
}


h1{
  color: red;
  text-align: center;
}
td {
  text-align: center;
}
.tieude {
  color: red;
  font-size: 25pt;
  top-margin: 18pt;
}
.noidung{
  color: black;
  font-size: 15pt;
  top-margin: 6pt;
}
  
